
Agent_llm=OLLAMA
Embeddings_model=LOCAL
Local_Embedding_Model=BAAI/bge-m3


PINECONE_API_KEY=


SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_AGENT_USER=USR_FDE_RO
SQL_AGENT_PASSWORD=
SQL_ADMIN_USER=
SQL_ADMIN_PASSWORD=


OPENAI_API_KEY=
DEEPSEEK_API_KEY=
OLLAMA_HOST=
